extends ../layouts/layout
block contents
  .content-wrapper
    .row
      .col-lg-12.grid-margin.stretch-card
        .card
          .card-body
            h4.card-title Flight
            |
            button.btn.btn-inverse-success.btn-icon.m-2(type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo")
              i.mdi.mdi-plus
            #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
              .modal-dialog(role='document')
                .modal-content
                  .modal-header
                    h5#exampleModalLabel.modal-title New Flight
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true') &times;
                  .modal-body
                    form(method="POST", action="/admin/flights/create")
                      .form-group
                        label.col-form-label(for='arrival') Sân bay đến:
                        select.form-control(type='text' name='arrival')
                          each airport in airports  
                            option(value=airport.code)= airport.name 
                      .form-group
                        label.col-form-label(for='takeoff') Sân bay đi:
                        select.form-control(type='text' name="takeoff")
                          each airport in airports  
                            option(value=airport.code)= airport.name 
                      .form-group
                        label.col-form-label(for='timeStart') Giờ xuất phát:
                        input#tel.form-control(type='datetime-local' name="timeStart")
                      .form-group
                        label.col-form-label(for='timeArrived') Giờ Đến:
                        input#country.form-control(type='datetime-local' name="timeArrived")
                      .form-group
                        label.col-form-label(for='planeCode') Mã máy bay:
                        select.form-control(type='text' name="planeCode")
                          each plane in planes  
                            option(value=plane.code)= plane.code 
                      .form-group
                        label.col-form-label(for='planeCode') Số lượng vé:
                        input#email.form-control(type='number' name="ticketAmount")
                      //- .form-group
                      //-   label(for='exampleInputEmail6') Trạng thái
                      //-     br
                      //-     select.form-select(aria-label='Default select example' name="role")
                      //-       option(selected='') Trạng thái
                      //-       |
                      //-       option(value='Normal') Normal
                      //-       |
                      //-       option(value='Completed') Completed
                      //-       |
                      //-       option(value='Canceled') Canceled
                      //-       |
                      //-       option(value='Checkin') Checkin
                      //-       |
                      //-       option(value='boarding') Boarding
                      .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                        button.btn.btn-primary(type='submit') Create
            .table-responsive
              table.table.table-striped
                thead
                  tr
                    th
                      | Sân bay đến
                    |
                    th
                      | Sân bay đi
                    |
                    th
                      | Giờ xuất phát
                    |
                    th
                      | Giờ đến
                    |
                    th
                      | Mã máy bay
                    |
                    th
                      | Số vé
                    |
                    th
                      | Trạng thái
                    |
                tbody
                  each flight in flights
                    - var timeStart = new Date(flight.GioXuatPhat)
                    - var timeArrived = new Date(flight.GioDen)
                      tr
                        //- td.py-1
                        //-   img(src='/assets/admin/images/faces/face1.jpg' alt='image')
                        //- |
                        td= flight.SBDen
                        td= flight.SBDi
                          //- .progress
                          //-   .progress-bar.bg-success(role='progressbar' style='width: 25%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
                        td= timeStart.getFullYear() + '-' + (('0' + (timeStart.getMonth()+1)).slice(-2)) + '-' + timeStart.getDate() + ' ' + (('0' + timeStart.getHours()).slice(-2)) + ':' + (('0' + timeStart.getMinutes()).slice(-2))
                        td= timeArrived.getFullYear() + '-' + (('0' + (timeArrived.getMonth()+1)).slice(-2)) + '-' + timeArrived.getDate() + ' ' + (('0' + timeArrived.getHours()).slice(-2)) + ':' + (('0' + timeArrived.getMinutes()).slice(-2))
                        td= flight.planeCode
                        td= flight.ticketAmount
                        td= flight.status
                        td
                          a(href="/admin/flights/edit/" + flight._id)
                            button.btn.btn-inverse-primary.btn-icon.m-2(type='button')
                              i.mdi.mdi-pencil