extends ../layouts/layout
block contents
    .row
      .col-lg-12.grid-margin.stretch-card
        .card
          .card-body
            h4.card-title Airbus
            |
            button.btn.btn-inverse-success.btn-icon.m-2(type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo")
              i.mdi.mdi-plus
            #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
              .modal-dialog(role='document')
                .modal-content
                  .modal-header
                    h5#exampleModalLabel.modal-title New Airbus
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true') &times;
                  .modal-body
                    form(method="POST", action="/airbus/create")
                      .form-group
                        label.col-form-label(for='name') Tên máy bay
                        input#name.form-control(type='text' name='name')
                      .form-group
                        label.col-form-label(for='code') Mã máy bay
                        input#code.form-control(type='text' name="code")
                      .form-group
                        label.col-form-label(for='carrier_id') Hãng máy bay:
                        select.form-control#carrier_id(type='text' name="carrier_id")
                          each carrier in carriers  
                            option(value=carrier._id)= carrier.name + " - " + carrier.code 
                      .form-group
                        label.col-form-label(for='seatNum') Số chỗ ngồi
                        input#seatNum.form-control(type='number' name="seatNum")
                      .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                        button.btn.btn-primary(type='submit') Create
            .table-responsive
              table.table.table-striped
                thead
                  tr
                    th Tên máy bay
                    th Mã máy bay
                    th Hãng máy bay
                    th Số chỗ ngồi
                    th
                tbody
                  each airbus in airbuses 
                        tr
                            td= airbus.name 
                            td= airbus.code
                            td= airbus.carrier
                            td= airbus.seatNum
                            td
                                a(href="/airbus/edit/" + airbus._id)
                                    button.btn.btn-inverse-primary.btn-icon.m-2(type='button')
                                        i.mdi.mdi-pencil
                                button.btn.btn-inverse-danger.btn-icon.m-2(type='button' data-toggle="modal" data-target="#btn-confirm" + airbus.code)
                                    i.mdi.mdi-delete
                                .modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true' id="btn-confirm" + airbus.code)
                                  .modal-dialog.modal-dialog-centered(role='document')
                                    .modal-content
                                      .modal-header
                                        h5#exampleModalLabel.modal-title Warrning
                                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                                          span(aria-hidden='true') &times;
                                      .modal-body
                                        | Bạn có thật sự muốn xóa không?
                                      .modal-footer
                                        button.btn.btn-secondary(type='button', data-dismiss='modal') Không
                                        a(href="/airbus/delete/" + airbus._id) 
                                          button.btn.btn-primary(type='button') Xóa