extends ../layouts/layout
block contents
    .col-12.grid-margin.stretch-card
      .card
        .card-body
          h4.card-title Edit Flight
          form.forms-sample(method="POST", action="/admin/flights/edit/" + flight._id)
            .form-group
              label(for='exampleInputName1') Sân bay đến
              |
              select#exampleInputName1.form-control(name="arrival")
                each airport in airports
                  if (flight.SBDen === airport.code) 
                    option(value=airport.code selected)= airport.code
                  else
                    option(value=airport.code)= airport.code
            |
            .form-group
              label(for='exampleInputEmail2') Sân bay đi
              |
              select#exampleInputEmail2.form-control(name="takeoff")
                each airport in airports
                    if (flight.SBDi === airport.code) 
                      option(value=airport.code selected)= airport.code
                    else
                      option(value=airport.code)= airport.code
            |
            .form-group
              label(for='exampleInputEmail3') Giờ xuất phát
              |
              input#exampleInputEmail3.form-control(type='datetime-local', placeholder='Giờ xuất phát' value=khoiHanh name="timeStart")
            |
            .form-group
              label(for='exampleInputEmail4') Giờ đến
              |
              input#exampleInputEmail4.form-control(type='datetime-local', placeholder='Giờ đến' value=haCanh name="timeArrived")
            |
            .form-group
              label(for='exampleInputEmail2') Mã máy bay
              |
              input#exampleInputEmail2.form-control(type='text', placeholder='Mã máy bay' value=flight.planeCode name="planeCode")
            .form-group
              label(for='exampleInputEmail2') Số vé
              |
              input#exampleInputEmail2.form-control(type='number', placeholder='Số vé' value=flight.ticketAmount name="ticketAmount")
            |
            .form-group
                        label(for='exampleInputEmail6') Trạng thái
                          br
                          select.form-select.form-control(aria-label='Default select example' name="status")
                            option(selected='')= flight.status
                            |
                            option(value='Normal') Normal
                            |
                            option(value='Completed') Completed
                            |
                            option(value='Canceled') Canceled
                            |
                            option(value='Checkin') Checkin
                            |
                            option(value='boarding') Boarding
            button(type="submit" class="btn btn-primary mr-2") Submit
            button(class="btn btn-light" href="/admin/flights/") Cancel
